{% extends "base.html" %}

{% block navbutton %}

{% if user.is_authenticated %}
<a href="{% url 'product:product_create' %}"> <button class="btn btn-primary mx-4">Sell</button> </a>
<a href="{% url 'Authentication:profile' %}"> <button class="btn btn-secondary mx-4">Profile</button> </a>
<a href="{% url 'Authentication:logout' %}"> <button class="btn btn-light mx-4">Logout</button></a>
{% else %}
<a href="{% url 'Authentication:login' %}"> <button class="btn btn-light mx-4">Login</button></a>

{% endif %}

{% endblock navbutton %}

{% block content %}

<main style="height: 95vh;" class="d-flex">
    <div class="bg-secondary-subtle" style="width: 200px;">
        <ul class="d-flex flex-column my-2" style="list-style: none;">
            <a href="{% url 'Authentication:profile' %}" class="text-primary" style="text-decoration: none;"> <li class="my-1">Personal Info</li></a>
            <a href="{% url 'direct_sell:my_direct_sellings' %}" style="text-decoration: none;" class="text-dark"> <li class="my-1">Your Direct Sellings</li></a>
            <a href="{% url 'bid:my_auctions' %}" style="text-decoration: none;" class="text-dark"> <li class="my-1">Your Auctions</li></a>
        </ul>
    </div>
    <div class="w-100">
        <div class="mx-5 my-3">
        <ul style="list-style: none;">
            <li><span class="fw-bold">Username: </span> <span> {{user.username}} </span></li>
            <li><span class="fw-bold">Email: </span> <span> {{user.email}} </span></li>
            <li><span class="fw-bold">Name: </span> <span> {{user.first_name}} {{ user.last_name}} </span></li>
            <li><span class="fw-bold">Contact Number: </span> <span> {{user.contact_number}}</span></li>
            <li><span class="fw-bold">Address: </span> <span> {{user.address}} </span></li>
        </ul>
        <a href="{% url 'Authentication:edit_profile' %}" class="btn btn-primary mx-4"> Edit Profile</a>
    </div>
    </div>
</main>

{% endblock content %}