{% extends "base.html" %}

{% block navbutton %}

{% if user.is_authenticated %}
<a href="{% url 'product:product_create' %}"> <button class="btn btn-primary mx-4">Sell</button> </a>
<a href="{% url 'Authentication:profile' %}"> <button class="btn btn-secondary mx-4">Profile</button> </a>
<a href="{% url 'Authentication:logout' %}"> <button class="btn btn-light mx-4">Logout</button></a>
{% else %}
<a href="{% url 'Authentication:login' %}"> <button class="btn btn-light mx-4">Login</button></a>

{% endif %}

{% endblock navbutton %}

{% block content %}

<div>
    <p>{{user.username}} </p>
    <p> <span>Member since </span> {{user.date_joined |date:"M Y"}} </p>
    <div>
        <h1>Your Direct Sells</h1>
        {% for product in user.product_set.all %}
        {% if product.status == 'DIRSELL' %}
        <div style="display: block; border: 2px solid black; width: 300px;">
            <a href="{{ product.image.url }}"> <img src="{{ product.image.url }}" style="width:100px; height: 100px;">
            </a>
            <div>
                <p>{{ product.name }}</p>
                <p> {{ product.bought_date |date:"M Y" }} </p>
                <p> {{product.directsellproduct.price}} </p>
                <p> {{product.description | truncatechars:50 }} </p>
                <p> {{product.place}} </p>
                <p> {{product.upload_date |date:"d M Y"}} </p>
            </div>
            <a href="{% url 'direct_sell:direct_sell_edit' product.id%}">Edit</a>
        </div>
        {% endif %}
        {% endfor %}

        <h1>Your Auctions</h1>
        {% for product in user.product_set.all %}
        {% if product.status == 'AUCTION' %}
        <div style="display: block; border: 2px solid black; width: 300px;">
            <a href="{{ product.image.url }}"> <img src="{{ product.image.url }}" style="width:100px; height: 100px;">
            </a>
            <div>
                <p>{{ product.name }}</p>
                <p> {{ product.bought_date |date:"M Y" }} </p>
                <p> {{product.auctionitem.starting_price}} </p>
                <p> {{product.auctionitem.end_time}} </p>
                <p> {{product.description | truncatechars:50 }} </p>
                <p> {{product.place}} </p>
                <p> {{product.upload_date |date:"d M Y"}} </p>
            </div>
            <a href="{% url 'bid:auction_edit' product.id%}">Edit</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}