{% extends "base.html" %}

{% block title %} Registration {% endblock title %}

{% block navbutton %}

<a href="{% url 'Authentication:login' %}"> <button class="btn btn-light mx-4">Login</button></a>

{% endblock navbutton %}


{% block content %}

<main class="d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">

    <p class="text-danger position-relative top-5 left-5">{{ error_message}}</p>

<form method="post" class="form-signup bg-secondary-subtle p-5 rounded-5 d-flex flex-column">
    {% csrf_token %}
    <div class="form-group my-2">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="form-group my-2">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="form-group my-2">
        {{ form.contact_number.label_tag }}
        {{ form.contact_number }}
    </div>
    <div class="form-group my-2">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
    </div>
    <div class="form-group my-2">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
    </div>
    <button type="submit" class="btn btn-primary my-2">Sign Up</button>
</form>
</main>


{% endblock content %}