{% extends "base.html" %}

{% block title %} Registration {% endblock title %}

{% block navbutton %}

<a href="{% url 'Authentication:login' %}"> <button class="btn btn-light mx-4">Login</button></a>

{% endblock navbutton %}


{% block content %}

<main class="d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">

    <p class="text-danger position-relative top-5 left-5">{{ error_message}}</p>

<form method="post" class="form-signup bg-secondary-subtle p-5 rounded-5 d-flex flex-column">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group my-2">
        <span class="fw-bold"> {{ field.label_tag }} </span>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary my-2">Sign Up</button>
</form>
</main>


{% endblock content %}