{% extends "base.html" %}

{% block navbutton %}

{% if user.is_authenticated %}
<a href="{% url 'product:product_create' %}"> <button class="btn btn-primary mx-4">Sell</button> </a>
<a href="{% url 'Authentication:profile' %}"> <button class="btn btn-secondary mx-4">Profile</button> </a>
<a href="{% url 'Authentication:logout' %}"> <button class="btn btn-light mx-4">Logout</button></a>
{% else %}
<a href="{% url 'Authentication:login' %}"> <button class="btn btn-light mx-4">Login</button></a>

{% endif %}

{% endblock navbutton %}

{% block content %}

<main class="d-flex flex-column justify-content-center align-items-center" style="height: 95vh;">

<form method="post" enctype="multipart/form-data" class="bg-secondary-subtle p-5 rounded-5 d-flex flex-column">
    {% csrf_token %}
    {% comment %} {{ product_edit_form.as_p }}
    {{ direct_sell_form.as_p}} {% endcomment %}
    {% for field in product_edit_form %}
    <div class="form-group my-2">
        <span class="fw-bold"> {{ field.label_tag }} </span>
        {{ field }}
    </div>
    {% endfor %}
    {% for field in direct_sell_form %}
    <div class="form-group my-2">
        <span class="fw-bold"> {{ field.label_tag }} </span>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="rounded border-0 bg-primary text-white">Save</button>
</form>
</main>

{% endblock %}