{% extends "base.html" %}
{% load custom_filters %}

{% block navbutton %}

{% if user.is_authenticated %}
<a href="{% url 'product:product_create' %}"> <button class="btn btn-primary mx-4">Sell</button> </a>
<a href="{% url 'Authentication:profile' %}"> <button class="btn btn-secondary mx-4">Profile</button> </a>
<a href="{% url 'Authentication:logout' %}"> <button class="btn btn-light mx-4">Logout</button></a>
{% else %}
<a href="{% url 'Authentication:login' %}"> <button class="btn btn-light mx-4">Login</button></a>

{% endif %}

{% endblock navbutton %}

{% block content %}

<main class="d-flex flex-column align-items-center justify-content-center" style="height:90vh;">

    <div class="card" style="width: 30rem;">
        <img src="{{ product.image.url }}" class="card-img-top p-3" alt="Product" style="width: 30rem; height: 300px;">
        <div class="card-body">
            {% if request.user != product.owner %}
                <a href="{% url 'bid:make_bid' product.auctionitem.id%}" class="btn btn-primary position-absolute mx-5 end-0">Bid </a>
            {% endif %}
            <h5 class="card-title">
                {% if product.status == 'DIRSELL' %}
                ₹ {{product.directsellproduct.price}}
                {% else %}
                {% if product.auctionitem.current_highest_bid %}
                            ₹ {{product.auctionitem.current_highest_bid}} (Current highest bid)
                        {% else %}
                            ₹ {{ product.auctionitem.starting_price }} (Starting price)
                        {% endif %}
                {% endif %}
            </h5>
            <p class="card-text fw-bold">{{product.name}} </p>
            <p class="card-text" style="font-size: 0.9rem;">{{product.description}} </p>
            <p class="card-text" style="font-size: 0.8rem;"> Posted in <span class="fw-bold"> {{product.place}} </span> {% if product.upload_date|custom_date_display != 'Today' and product.upload_date|custom_date_display != 'Yesterday' %} on {% endif %}  <span class="fw-bold"> {{product.upload_date|custom_date_display}} </span>
            </p>
            <p>
                {% if product.status == 'AUCTION' %}
                    <span class="fw-bold"> End Time: </span> {{product.auctionitem.end_time|date:"F j, Y P"}}
                {% endif %}
            </p>
            <hr />
            {% if request.user != product.owner %}
            <div class="d-flex justify-content-between">
                <div>
                    <h4> {{product.owner}} </h4>
                    <span> {{product.owner.contact_number}} </span>
                </div>
                <a href="https://api.whatsapp.com/send?text=Hi! Myself {{request.user.get_full_name}}. I want to buy your {{product.name}} &phone=91{{product.owner.contact_number}}" target="_blank" class="btn btn-primary d-flex align-items-center">Chat with Seller</a>
            </div>
            {% else %}
            <div class="d-flex justify-content-evenly">
                <a href=" {% if product.status == 'DIRSELL' %}
                    {% url 'direct_sell:direct_sell_edit' product.id%}
                {% else %}
                {% url 'bid:auction_edit' product.id %}
                {% endif %} " class="btn btn-primary d-flex align-items-center">Edit</a>
                <a href=" {% url 'product:product_delete' product.id%} " class="btn btn-primary d-flex align-items-center">Delete</a>
                <a href=" {% url 'product:change_status' product.id%} " class="btn btn-primary d-flex align-items-center"> {% if product.status == 'DIRSELL' %}
                    Move to Auction
                {% else %}
                    Move to Direct Sells
                {% endif %} </a>
            </div>
            {% endif %}
            
        </div>
    </div>

</main>

{% endblock %}